streamlit
langchain
langchain-community
langchain-core
langchain-classic
langchain-text-splitters

python-dotenv
tiktoken

faiss-cpu
sentence-transformers
transformers
torch
torchvision

beautifulsoup4
requests
lxml
